## Question 2 Part 1:
### Find out the highest paid departments in each organization group by calculating mean of total compensation for every department.

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('C:/Users/mahesh/Desktop/Data analysis spring 2017/Data_Analysis_Assignments/wagh_rijuta_spring2017/Assignment 3/Data/employee_compensation.csv')
print(df.head())

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [5]:
#Find each department and their corresponding Organization Group
newOrganizationGroup=[]
newDepartment=[]
for index,rows in df.iterrows():
    if((rows['Department'] not in newDepartment)):
        newDepartment.append(rows['Department'])
        newOrganizationGroup.append(rows['Organization Group'])

In [6]:
#Find the total Compensation of each Department
totalCompensation=[0]*56
j=[0]*56
for index,rows in df.iterrows():
    for i in range(1,(len(newDepartment)+1)):
        if rows['Department']==newDepartment[i-1]:
            totalCompensation[i-1]=rows['Total Compensation']+totalCompensation[i-1]
            j[i-1]+=1

In [7]:
#Find mean of the total Compensation of each department
meanCompensation=[0]*56
for k in range(1,(len(j)+1)):
    meanCompensation[k-1]=totalCompensation[k-1]/j[k-1]

In [8]:
df1=pd.DataFrame({'Organization Group':newOrganizationGroup,'Department':newDepartment,'Total Compensation':meanCompensation})
df1=df1.sort_values(by='Total Compensation',ascending=False) #Sorting values from highest to lowest
df1.head()

         Department                Organization Group  Total Compensation
54      Law Library              Culture & Recreation       188424.362222
20  Fire Department                 Public Protection       180788.086979
35    City Attorney  General Administration & Finance       166082.677561
26  Public Defender                 Public Protection       147552.185739
18           Police                 Public Protection       141263.701729

In [10]:
df1.to_csv('TotalCompensation.csv', sep=';', encoding='utf-8')